[Unit]
Description=Duhdenfuhmolt
Documentation=https://github.com/SajemTan/duhdenfuhmolt
# Wants=dhcpcd.service

[Service]
Type=simple
WorkingDirectory=/home/opc/duhdenfuhmolt
ExecStart=/usr/bin/ruby /home/opc/duhdenfuhmolt/main.rb
ExecReload=/usr/bin/kill -HUP $MAINPID
RestartSec=10s
Restart=on-failure

[Install]
WantedBy=default.target
